html,body{
height: 100%;
margin:0px;
padding:0px;
font-family: sans-serif;
font-size: 16px;
line-height: 32px;
}


#map1, #map2, #map3{
    width: 34%;
    height: 100%;
    float: left;
}

.content{
    height: 100%;
}
#page1{
    background-color:red;
}
#page2{
    background-color:FFDD43;
}
#page3{
    background-color:DB4539;
}
#map-container{
    background-color: blue;
}
#map_canvas{
    height: 620px;
    width:90%;
    margin: 0 auto;
}